VITE_NOTIFICATIONS_VAPID_PUBLIC_KEY="VAPID_PUBLIC_KEY"  # NOTE: copy from root .env!

VITE_BASE_BACKEND_API_URL=http://localhost:8000/wvg/api
VITE_NOTIFICATIONS_URL=http://localhost:8000/notifications
VITE_NOTIFICATIONS_MANAGE_URL=http://localhost:8000/notifications/manage/

VITE_LOGIN_URL=http://localhost:8000/login/
VITE_LOGOUT_URL=http://localhost:8000/logout/
