Django==4.2.*
requests==2.32.*
django-ipware==7.0.*
django-cors-headers==4.7.*
python-dotenv==1.1.*
pywebpush==2.0.*
djangorestframework==3.16.*

# linting
pylint==3.3.*
pylint_django==2.6.*
black==25.1.*
